################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fibonacci/.vs
/algos/.vs
/algos/algos/obj
/fibonacci/fibonacci/bin/Debug/net8.0
/fibonacci/fibonacci/obj
